/*styling van de nav-bar en footer */

body {
    background-image: url('https://www.chromethemer.com/download/hd-wallpapers/blue-technology-3840x2160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #23232F;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.paginas:hover {
    color: #39FF14;
    transform: scale(1.1);
}

.paginas:hover {
    color: #39FF14;
    transform: scale(1.1);
}



.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    
}

.section {
    position: relative;
    padding: 60px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

.cart {
    position: relative;
}

.wagen_neon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wagen_neon:hover {
    opacity: 1;
}

.input  {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar {
    padding: 10px;
    font-size: 18px;
    width: 75.1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchSubmit {
    height: 15.5;
    width: 15.5%;
    padding: 10px;
    background-color: #39FF14;
    color: #39FF14;
    border: 1px solid #39FF14;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    background-color: #23232F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.geg {
    display: inline-block;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.makers{
    display: inline-block;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#list {
    list-style-type: none;
    padding: 0px;
}