/*styling van "index.html" */

.slidein {
    width: 50%;
}

.product {
    color: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 300px;
}

.product img {
    max-width: 100%;
}

.product h3 {
    margin: 10px 0;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #39FF14;
    transform: scale(1.1);
}

.submit-button {
    margin: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #39FF14;
    transform: scale(1.1);
}

#naam {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#naam:hover {
    border: 2px solid #333;
}

#email {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#email:hover {
    border: 2px solid #333;
}

#bericht {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#bericht:hover {
    border: 2px solid #333;
}