*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width:80%;
    margin:50px auto;
    padding:20px;
}
.title{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 70px;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.image{
    flex:1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.image img{
    width: 100%;
    transition:transform 0.3s ease;
}
.image:hover img{
    transform: scale(1.1);
}

.content{
    flex:1;
    margin-left: 20px;

}