
.canvas {
    display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
}


.witregel1 {
    visibility: hidden;
}

.witregel2 {
    text-align: center;
}
