/*styling van "product.html"*/

.product {
    color: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 70%;
}

.product img {
    width: 40%;
    float: left;
    margin: 1px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 10px 0;
    
}

.product h1 {
    margin: 10px 0;
}

.product-box{
    position: relative;
    margin-top: 5%;
}




.add-to-cart {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #39FF14;
    transform: scale(1.1);
}
