/*styling van "klantrecensies.html" */

.slidein {
    width: 50%;
}

.product {
    color: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 300px;
}

.product img {
    max-width: 100%;
}

.product h3 {
    margin: 0px;
}

.product:hover {
    transform: scale(1.1);
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #39FF14;
    transform: scale(1.1);
}

.submit-button {
    margin: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #39FF14;
    transform: scale(1.1);
}

#naam {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#naam:hover {
    border: 2px solid #333;
}

#email {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#email:hover {
    border: 2px solid #333;
}

#bericht {
    background-color: #ebeaea;
    border: 1px solid #fffafa;
}

#bericht:hover {
    border: 2px solid #333;
}

/* Voeg deze stijlen toe voor de nieuwe sectie */
#winkelervaring {
    background-color: #3498db;
    padding: 40px;
    text-align: center;
    color: #fff;
}

#winkelervaring .section-content {
    max-width: 800px;
    margin: 0 auto;
}

#winkelervaring h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#winkelervaring p {
    font-size: 18px;
    margin-bottom: 10px;
}

#winkelervaring ul {
    list-style: none;
    padding: 0;
}

#winkelervaring ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

#winkelervaring ul li:before {
    content: "\2022"; /* Voeg een bullet punt toe */
    color: #fff; /* Kleur van het bullet punt */
    margin-right: 10px;
}